#cenaPrincipal{
    width: 100%;
    height: 100%;
}

#cena{
  width: 100%;
  height: 98vh;
}

#loading{
  width: 100%;
  height: 97%;
  background-color: '#ffffff';
  position: absolute;
  z-index: 1005;
  font-size: x-large;
  text-align: center;
  justify-content: center;
  justify-items: center;
}

#menuConfig{
  position: absolute;
  width: 200px;
  height: 100px;
  background-color: blueviolet;
  border-radius: 2px;
  z-index: 1001;
  display: none;
}

#menu-container {
  position: absolute;
  z-index: 1000;
  width: 97.5%;
  font-family: Arial, sans-serif;
  display:flex;
  justify-content: space-between;
  flex-grow: 3;
}

/* Label do menu */
#menu-container label {
  font-weight: bold;
  margin-right: 10px;
}

#menu-container label:hover {
  font-weight: bold;
  font-size: xx-large;
}


