
#cenaPrincipal{
    width: 100%;
    height: 97%;
}

#cena{
  width: 100%;
  height: 97vh;
}
#containerBtnConfig{
  position: absolute;
  right: 10px;
}

#loading{
  width: 100%;
  height: 97%;
  background-color: black;
  color: white;
  position: absolute;
  z-index: 1005;
  font-size: x-large;
  text-align: center;  
  justify-content: center;
  align-items: center;
}

#menuConfig{
  position: absolute;
  right: 10px;
  top: 50px;
  padding: 5px;
  z-index: 1001;
  display: none;
  align-items: center;
  color: white;
}
#menuConfig label{
  justify-content: flex-end;
  text-align: center;
  margin-top:2px;

}
.button{
  border: 2px;

}

#menu-container {
  position: absolute;
  z-index: 1000;
  width: 100%;
  font-family: Arial, sans-serif;
  display:flex;
  justify-content: space-between;
  flex-grow: 3;
}

/* Label do menu */
#menu-container label {
  font-weight: bold;
  margin-right: 10px;
}



