
body {
  display: flex;
  justify-content: center; 
  align-items: center;     
  height: 100vh;           
  margin: 0;               
}

#cenaPrincipal{
    width: 100%;
    height: 97%;
}

#cena{
  width: 100%;
  height: 97vh;
}
#containerBtnConfig{
  position: absolute;
  right: 10px;
  top:10px
}
#btnHome{
  position: absolute;
  left:10px;
  height: 10px;
}

#cenasShowroom{
  display:none;
  position: absolute;
  z-index: 10010;
  width: 80%;
  height: 80vh;
  background-color:antiquewhite;
  overflow-y: auto;
  align-items: center;
  justify-content: center;
}

.divisoria{
  width: 45%;
  height:25%;
  float:left;
  background-color: rgb(140, 127, 255);
  padding: 2px;
  margin-left: 5px;
  margin-top: 5px;
  
}

#panoramas{
  position:fixed;
  bottom: 20px;
  left:50%;
  transform: translateX(-50%);
  background-color: #4cc3d9;
  color:white;
  padding: 12px 24px;
  border-radius: 8px;
  text-align: center;
  z-index: 2000;
  font-size: x-large;
}

#loading{
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  position: absolute;
  z-index: 1005;
  font-size: x-large;
  text-align: center;  
  justify-content: center;
  align-items: center;
}

#menuConfig{
  position: absolute;
  right: 10px;
  top: 50px;
  padding: 5px;
  z-index: 1001;
  display: none;
  align-items: center;
  color: white;
}
#menuConfig label{
  justify-content: flex-end;
  text-align: center;
  margin-top:2px;

}
.button{
  border: 2px;

}

#menu-container {
  position: absolute;
  z-index: 1000;
  width: 100%;
  font-family: Arial, sans-serif;
  display:flex;
  justify-content: space-between;
  flex-grow: 3;
  right: 10px;
  left:10px;
  top:10px
}

/* Label do menu */
#menu-container label {
  font-weight: bold;
  margin-right: 10px;
}



