#cenaPrincipal{
    width: 100%;
    height: 100%;
}

#cena{
  width: 100%;
  height: 98vh;
}

#loading{
  width: 100%;
  height: 97%;
  background-color: '#ffffff';
  position: absolute;
  z-index: 1005;
  font-size: x-large;
  text-align: center;
  justify-content: center;
  justify-items: center;
}

#menuConfig{
  display: flex;
  position: absolute;
  margin-right: 10px;
  margin-top: 20px;
  width: 300px;
  height: 50px;
  background-color: aliceblue;
  border-radius: 2px;
  box-shadow: 2px;
  z-index: 1001;
  display: none;
}
#menuConfig label{
  justify-content: flex-end;
}
.button{
  font-family: 'Times New Roman', Times, serif;
  font-size: larger;
  font-weight: 200;
  border: 2px;
}

#menu-container {
  position: absolute;
  z-index: 1000;
  width: 97.5%;
  font-family: Arial, sans-serif;
  display:flex;
  justify-content: space-between;
  flex-grow: 3;
}

/* Label do menu */
#menu-container label {
  font-weight: bold;
  margin-right: 10px;
}



