#cenaPrincipal{
    width: 100%;
    height: 95vh;
    background-color: black;
}


#menu-container {
  position: absolute;
  float:right;
  top: 10px;
  left: 10px;
  z-index: 1000;
  
  padding: 10px 15px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  font-family: Arial, sans-serif;

  display:flex;
  justify-content: center;
  flex-grow: 3;
}

/* Label do menu */
#menu-container label {
  font-weight: bold;
  margin-right: 10px;
}

#menu-container label:hover {
  font-weight: bold;
  font-size: small;
}


