#cenaPrincipal{
    width: 100%;
    height: 100%;
}
#cena{
  width: 100%;
  height: 95vh;
}

#loading{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1005;
  background-color: cyan;
  font-size: x-large;
  align-items: center;
  align-self: center;
  justify-content: center;
}

#menu-container {
  position: absolute;
  float:right;
  top: 10px;
  left: 10px;
  right: 10px;
  z-index: 1000;
  width: 98%;
  padding: 10px 15px;
  border-radius: 8px;
  font-family: Arial, sans-serif;

  display:flex;
  justify-content: space-between;
  flex-grow: 3;
}

/* Label do menu */
#menu-container label {
  font-weight: bold;
  margin-right: 10px;
}

#menu-container label:hover {
  font-weight: bold;
  font-size: xx-large;
}


