#cenaPrincipal{
    width: 100%;
    height: 98%;
}
#cena{
  width: 100%;
  height: 95vh;
}

#loading{
  width: 100%;
  height: 98%;
  position: absolute;
  z-index: 1005;
  font-size: x-large;
  text-align: center;
  justify-content: center;
  justify-items: center;
}

#menu-container {
  position: absolute;
  z-index: 1000;
  width: 95%;
  font-family: Arial, sans-serif;
  display:flex;
  justify-content: space-between;
  flex-grow: 3;
}

/* Label do menu */
#menu-container label {
  font-weight: bold;
  margin-right: 10px;
}

#menu-container label:hover {
  font-weight: bold;
  font-size: xx-large;
}


