
body {
  display: flex;
  justify-content: center; 
  align-items: center;     
  height: 99vh;           
  margin: 0;               
}

#loading{
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  position: absolute;
  z-index: 100000;
  font-size: x-large;
  display: flex;
  justify-content: center;
  align-items: center;
}


#cenaPrincipal{
    width: 99%;
    height: 97%;
}

#cena{
  width: 100%;
  height: 97vh;
}

#containerBtnConfig{
  position: absolute;
  right: 13px;
  top:10px
}
#btnHome{
  position: absolute;
  left:10px;
  top: 10px;
}

#cenasShowroom{
  display:flex;
  display:none;
  position: absolute;
  z-index: 10010;
  width: 80%;
  height: 70vh;
  background-color: whitesmoke;
  overflow-y: auto;
  flex-wrap: wrap;
  border-radius: 5px;
  padding:5px;
}
#panoramaFundo{
  background-color: #11111114;
  width: 100%;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#panoramaTitulo{
  width: 100%;
  
}
#panoramaTitulo label{
  text-decoration: overline;
  padding-left: 5%;
}
#cenasShowroom >div {
  width: 100%;
  
  align-items: center;
}
#cenasShowroom > div > div{
  flex-shrink: 0 ;

}
#cenasShowroom > div > section{
  width: 100%;
  flex-shrink: 0 0 auto;
}

.divisoria{
  width: 45%;
  height: auto;
  float:left;
  padding: 2px;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: 1px 1px 1px 1px #11111140;
}
.divisoria > img{
  width: 100%;
  object-fit: cover;
}

#panoramas{
  position:fixed;
  bottom: 20px;
  left:50%;
  transform: translateX(-50%);
  background-color: #00000017;
  color:white;
  padding: 12px 24px;
  border-radius: 8px;
  text-align: center;
  z-index: 2000;
  font-size: x-large;
}


#menuConfig{
  position: absolute;
  right: 5px;
  top: 50px;
  padding: 5px;
  z-index: 1001;
  display: none;
  align-items: center;
  color: white;
}
#menuConfig label{
  justify-content: flex-end;
  text-align: center;
  margin-top:2px;

}
.button{
  border: 2px solid #fff;
}

#menu-container {
  position: absolute;
  z-index: 1000;
  width: 100%;
  font-family: Arial, sans-serif;
  display:flex;
  justify-content: space-between;
  flex-grow: 3;
  right: 10px;
  left:10px;
  top:10px
}

/* Label do menu */
#menu-container label {
  font-weight: bold;
  margin-right: 10px;
}



